<section class="max-w-6xl p-6 mx-auto bg-white rounded-md shadow-md">
  <h2 class="text-2xl font-semibold text-gray-800 capitalize">
    Create Product
  </h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
      <div>
        <label class="text-gray-800 font-semibold" for="productName"
          >Product Name</label
        >
        <input
          id="name"
          formControlName="name"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"
        />
      </div>

      <div>
        <label class="text-gray-800 font-semibold" for="productPrice"
          >Product Price</label
        >
        <input
          id="price"
          formControlName="price"
          type="number"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"
        />
      </div>
      <div>
        <label class="text-gray-800 font-semibold" for="productStatus"
          >Product Status</label
        >
        <select
          id="status"
          formControlName="status"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"
        >
          <option [value]="Status.Active">Active</option>
          <option [value]="Status.Deactive">Deactive</option>
        </select>
      </div>
      <div>
        <label class="text-gray-800 font-semibold" for="productPrice"
          >Product Quantity</label
        >
        <input
          id="quantity"
          formControlName="quantity"
          type="number"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"
        />
      </div>
    </div>

    <div class="flex justify-end gap-4 mt-6">
      <a routerLink="/products">
        <button
          class="inline-block rounded bg-gray-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-gray-700"
          type="button"
        >
          Back
        </button>
      </a>
      <button
        type="submit"
        class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform rounded-md bg-blue-500 hover:bg-blue-600 "
      >
        Save
      </button>
    </div>
  </form>
</section>
