<div class="w-full h-screen flex justify-center items-center">
  <div class="mx-auto w-full lg:w-1/2">
    <form
      (ngSubmit)="onSubmit()"
      class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8 border-2"
    >
      <p class="text-center text-3xl font-bold">Register</p>
      <div class="w-full grid grid-cols-2 gap-2">
        <div>
          <label for="username">Username</label>

          <div class="relative">
            <input
              name="username"
              type="text"
              [(ngModel)]="user.username"
              required
              class="w-full rounded-lg border border-gray-200 px-4 py-3 mt-2 pe-12 text-sm shadow-sm"
              placeholder="Enter username"
            />

            <span
              class="absolute inset-y-0 end-0 grid place-content-center px-4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                />
              </svg>
            </span>
          </div>
        </div>

        <div>
          <label for="email">Email</label>

          <div class="relative">
            <input
              name="email"
              type="email"
              [(ngModel)]="user.email"
              required
              class="w-full rounded-lg border border-gray-200 px-4 py-3 mt-2 pe-12 text-sm shadow-sm"
              placeholder="Enter email"
            />

            <span
              class="absolute inset-y-0 end-0 grid place-content-center px-4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                />
              </svg>
            </span>
          </div>
        </div>

        <div>
          <label for="password">Password</label>

          <div class="relative">
            <input
              name="password"
              type="password"
              [(ngModel)]="user.password"
              required
              class="w-full rounded-lg border border-gray-200 px-4 py-3 mt-2 pe-12 text-sm shadow-sm"
              placeholder="Enter password"
            />

            <span
              class="absolute inset-y-0 end-0 grid place-content-center px-4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="size-4 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                />
              </svg>
            </span>
          </div>
        </div>

        <div>
          <label for="password">Password</label>
          <select
            [(ngModel)]="user.gender"
            name="gender"
            class="w-full rounded-lg border border-gray-200 px-4 py-3 mt-2 pe-12 text-sm shadow-sm"
          >
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <div>
        <button
          type="submit"
          class="block w-full rounded-lg bg-[#007DFF] px-5 py-3 text-sm font-medium text-white mt-4"
        >
          Sign Up
        </button>

        <p class="text-center text-sm text-gray-500">
          Have an account?
          <a class="underline" routerLink="/auth/signin">Sign in</a>
        </p>
      </div>
    </form>
  </div>
</div>
